@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@font-face{
    font-family: 'Noto-Sans-Bengali';
    src: url('assets/NotoSansBengali.ttf');
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.bangla{
    font-family: Noto-Sans-Bengali, sans-serif
}